input[type=button]{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    float:center;
}

input[type=button]:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.edit_description{
    padding-top:10px;
}

.edit_surn{
    padding-top:10px;
}
